body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.conteiner{
    margin-top: 50px;
    text-align: center;
}
.inputName {
    width: 300px;
    border-radius: 10px;
   height: 25px;
}

#submit{
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover{
    background-color: #1e6620;
}

.outputText {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}